.app {
  text-align: center;
}

.app__header {
  background-color: rgb(39, 39, 110);
  padding-top: 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app__heading {
  color: var(--clr-primary);
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.app__tagline {
  background-color: var(--clr-primary);
  color: var(--clr-dark);
  font-size: 0.725rem;
  font-weight: 500;
  padding: 0.25rem;
}

@media screen and (max-width: 730px) {
  .app__tagline {
    overflow-x: scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.app__main {
  padding: 1.5rem 1rem;
}

.app__character-cards {
  padding-top: 1.5rem;
  display: grid;
  grid-auto-columns: min-content;
  place-items: center;
  gap: 1rem;
  margin: 0 auto;
  width: min-content;
}

@media screen and (min-width: 800px) {
  .app__character-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1100px) {
  .app__character-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.app__footer {
  background: none;
  margin: 0 auto;
  width: min-content;
}
