.page-counter {
  display: flex;
  height: min-content;
  justify-content: space-between;
}

.page-counter__input {
  grid-area: middle;
  text-align: center;
  background: none;
  border: none;
  color: var(--clr-light);
  min-width: 3rem;
  width: calc(100% - 6rem);
}

.page-counter__input::-webkit-inner-spin-button {
  opacity: 0;
  display: none;
  pointer-events: none;
}

.page-counter__input::-webkit-outer-spin-button {
  opacity: 0;
  pointer-events: none;
}

.page-counter__button {
  border-radius: 0.25rem;
  width: 3em;
  font-size: 0.625rem;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  aspect-ratio: 1;
}

.page-counter__button:disabled {
  opacity: 0.5;
}

.page-counter__button--dec {
  grid-area: left;
}

.page-counter__button--inc {
  grid-area: right;
  order: 1;
}

